<nav>
    <a href="{{ '/' | relative_url }}#about" class="logo" aria-label="Go to portfolio">
        <img src="{{ '/assets/Programmer_Man.png' | relative_url }}" alt="Mark Owens Logo" class="logo-image">
    </a>
    <ul class="nav-links">
        <li><a href="{{ '/' | relative_url }}#home">Home</a></li>
        <li><a href="{{ '/' | relative_url }}#projects">Projects</a></li>
        <li><a href="{{ '/' | relative_url }}#skills">Skills</a></li>
        <li><a href="{{ '/' | relative_url }}#about">About</a></li>
        <li><a href="{{ '/' | relative_url }}#contact">Contact</a></li>
        <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
    </ul>
</nav>
